html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("/images/background.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

footer {
  margin-top: auto;
}

.container {
  padding: 10px;
  flex: 1;
  padding-right: 15px;
  padding-left: 15px;
}

p {
  margin-bottom: 10px;
}

#infos {
  padding: 8px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.tab-content > .active {
  margin-top: 10px;
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "仿宋_GB2312";
  src: url("/fonts/仿宋_GB2312.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#sad-article {
  font-family: "仿宋_GB2312";
  font-size: 15px;
}

code {
  font-family: "JetBrainsMono-Regular";
  background-color: transparent;
  color: #333;
}

.navbar-default {
  background-color: rgba(123, 182, 255, 0.4);
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

a {
  text-decoration: none;
}

$article-line-height: 2;

.article {
  p {
    text-indent: 2em;
    line-height: $article-line-height;
  }
  li {
    line-height: $article-line-height;
  }
}

.pagefind-ui__result {
  padding: calc(10px * var(--pagefind-ui-scale)) 0
    calc(10px * var(--pagefind-ui-scale)) !important;
}

#backTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(51, 122, 183, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}

#backTop.show {
  opacity: 1;
  visibility: visible;
}
