p {
  margin-bottom: 10px;
}

.tab-content > .active {
  margin-top: 10px;
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("https://hi.mcenahle.page/fonts/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: "JetBrainsMono-Regular";
}

a {
  text-decoration: none;
}

.article p {
  text-indent: 2em;
}
