html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("/images/background.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

footer {
  margin-top: auto;
}

.container {
  padding: 10px;
  flex: 1;
  padding-right: 15px;
  padding-left: 15px;
}

@media (width <= 480px) {
  .container {
    margin-bottom: 20px;
  }
}

p {
  margin-bottom: 10px;
}

#infos {
  padding: 8px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.tab-content > .active {
  margin-top: 10px;
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "仿宋_GB2312";
  src: url("/fonts/仿宋_GB2312.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LXGWWenKai-Regular";
  src: url("/fonts/LXGWWenKai-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#sad-article {
  font-family: "仿宋_GB2312";
  font-size: 15px;
}

.well-sm {
  font-family: "LXGWWenKai-Regular";
}

code {
  font-family: "JetBrainsMono-Regular";
  background-color: transparent;
  color: #333;
}

.navbar-default {
  background-color: rgba(123, 182, 255, 0.4);
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

a {
  text-decoration: none;
}

$article-line-height: 2;

.article {
  p {
    text-indent: 2em;
    line-height: $article-line-height;
  }
  li {
    line-height: $article-line-height;
  }
}

.pagefind-ui__result {
  padding: calc(10px * var(--pagefind-ui-scale)) 0
    calc(10px * var(--pagefind-ui-scale)) !important;
}

$status-color: #420f95;

.btn-status {
  color: $status-color;
  background-color: #ffffff;
  border-color: $status-color;
  &:hover,
  &:active,
  &:focus {
    color: $status-color;
    background-color: #ffffff;
    border-color: $status-color;
  }
}

#backTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(51, 122, 183, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  z-index: 1000;
}

#backTop.show {
  opacity: 1;
  visibility: visible;
}

main {
  margin-bottom: 40px;
}

footer {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(121, 175, 230, 0.346) 45%,
    rgba(39, 106, 173, 0.572) 100%
  );

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

  color: #fff;
  padding: 70px 0 25px;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 1px;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
}

.footer-text-left,
.text-rightWord {
  color: #ffffff;
  font-size: 13px;
}

footer img {
  max-width: 100%;
  height: auto;
}

#footer-right-border {
  margin-top: 36px;
}

@media (width <= 480px) {
  #footer-right-border {
    margin-top: 6px;
  }
}
