@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("https://hi.mcenahle.page/fonts/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: "JetBrainsMono-Regular";
}

a {
  text-decoration: none;
}
